.liked-profiles-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}
  
  .profile-list {
    list-style-type: none;
    padding: 0;
  }
  
  .profile-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-photo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 20px;
  }
  
  .profile-info h3 {
    margin: 0;
    margin-right: 10px;
  }
  
  .profile-info a {
    text-decoration: none;
    color: #005a9c;
  }